﻿@model PresentationLayer.Areas.Admin.ViewModels.AddPensionerViewModel

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 box-shadow" style="margin-top:30px;margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
        <h2 class="text-center text-info">Add Pensioner</h2>
        <div class="col-xs-12" style="background:#fff;padding:10px;">          

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <!---Cut Form Steps from this point-->
                <div class="form-horizontal form-step-1">
                    <h3 class="text-info text-center">STEP 1/5 (Main Details)</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" />
                            @Html.ValidationMessageFor(model => model.Pensioner.ImageFile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Pensioner_Title" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Mr</option>
                                <option value="2">Mrs</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Pensioner.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pensioner.Surname, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Pensioner.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.OtherNames, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pensioner.OtherNames, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Pensioner.OtherNames, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Pensioner_Gender" class="form-control">
                                <option>-- Select Gender --</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Pensioner.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Pensioner_MaritalStatus" class="form-control">
                                <option>-- Select Marital Status --</option>
                                <option value="1">Unmarried</option>
                                <option value="2">Married</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Pensioner.MaritalStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pensioner.SpouseName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pensioner.SpouseName, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Pensioner.SpouseName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">                            
                            <input type="button" value="Next" class="btn btn-info trigger-form-2 text-right" />
                        </div>
                    </div>
                </div>               

                <div class="form-horizontal form-step-2" style="display:none;">
                    <h3 class="text-info text-center">STEP 2/5 (Origin Details)</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OriginDetails.Nationality, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OriginDetails.Nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="OriginDetails_State" class="form-control">
                                <option>-- Select State --</option>
                                <option value="1">Abia</option>
                                <option value="2">Adamawa</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.OriginDetails.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.Lga, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OriginDetails.Lga, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OriginDetails.Lga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.HomeTown, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OriginDetails.HomeTown, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OriginDetails.HomeTown, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.PermanentHomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OriginDetails.PermanentHomeAddress, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OriginDetails.PermanentHomeAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OriginDetails.Dob, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OriginDetails.Dob, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginDetails.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OriginDetails.PhoneNo, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OriginDetails.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Back" class="btn btn-success back-to-form-1" />
                            <input type="button" value="Next" class="btn btn-info trigger-form-3 text-right" />
                        </div>
                    </div>
                </div>
                
                <div class="form-horizontal form-step-3" style="display: none;">
                    <h3 class="text-info text-center">STEP 3/5 (Employment Details)</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentDetails.DateOfFirstAppointment, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmploymentDetails.DateOfFirstAppointment, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.EmploymentDetails.DateOfFirstAppointment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentDetails.DateOfLastAppointment, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmploymentDetails.DateOfLastAppointment, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.EmploymentDetails.DateOfLastAppointment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentDetails.LastPost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="EmploymentDetails_LastPost" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Head Teacher</option>
                                <option value="2">Driver</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.EmploymentDetails.LastPost, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentDetails.GradeAsAtRetirement, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="EmploymentDetails_GradeAsAtRetirement" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Level One</option>
                                <option value="2">Driver</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.EmploymentDetails.GradeAsAtRetirement, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentDetails.YearsInService, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmploymentDetails.YearsInService, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.EmploymentDetails.YearsInService, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentDetails.ReasonforRetirement, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="EmploymentDetails_ReasonforRetirement" class="form-control">
                                <option>-- Select Gender --</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.EmploymentDetails.ReasonforRetirement, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Back" class="btn btn-success back-to-form-2" />
                            <input type="button" value="Next" class="btn btn-info trigger-form-4 text-right" />
                        </div>
                    </div>
                </div>
                
                <div class="form-horizontal form-step-4" style="display: none;">
                    <h3 class="text-info text-center">STEP 4/5 (Next Of Kin Details)</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" />
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.ImageFile, "", new { @class = "text-danger" })

                            <input type="hidden" value="" name="NextOfKinDetails_PensionerId" />
                            <input type="hidden" value="" name="NextOfKinDetails_NOkId" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="NextOfKinDetails_Gender" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NextOfKinDetails.Surname, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.OtherNames, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NextOfKinDetails.OtherNames, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.OtherNames, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="NextOfKinDetails_Gender" class="form-control">
                                <option>-- Select Gender --</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.Relationship, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="NextOfKinDetails_Relationship" class="form-control">
                                <option>-- Select Relationship --</option>
                                <option value="1">Son</option>
                                <option value="2">Mother</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.Relationship, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NextOfKinDetails.PhoneNo, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NextOfKinDetails.PermenentHouseAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NextOfKinDetails.PermenentHouseAddress, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.NextOfKinDetails.PermenentHouseAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Back" class="btn btn-success back-to-form-3" />
                            <input type="button" value="Next" class="btn btn-info trigger-form-5 text-right" />
                        </div>
                    </div>
                </div>

                <div class="form-horizontal form-step-5" style="display: none;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h3 class="text-info text-center">STEP 5/5 (Bank Details)</h3>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BankDetails.Bank, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="BankDetails_Bank" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Mr</option>
                                <option value="2">Mrs</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.BankDetails.Bank, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BankDetails.BankBranch, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankDetails.BankBranch, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.BankDetails.BankBranch, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BankDetails.AccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankDetails.AccountNo, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.BankDetails.AccountNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BankDetails.GrossPension, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankDetails.GrossPension, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.BankDetails.GrossPension, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BankDetails.Deductible, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankDetails.Deductible, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.BankDetails.Deductible, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Back" class="btn btn-success back-to-form-4" />
                            <input type="submit" value="Submit" class="btn btn-info text-right" />
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const formStepOne = $(".form-step-1");
        const formStepTwo = $(".form-step-2");
        const formStepThree = $(".form-step-3");
        const formStepFour = $(".form-step-4");
        const formStepFive = $(".form-step-5");

        $(".trigger-form-2").on("click", (e) => {
            e.preventDefault();
            formStepTwo.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepThree.css("display", "none");
            formStepFour.css("display", "none");
            formStepFive.css("display", "none");

        });

        $(".back-to-form-1").on("click", (e) => {
            e.preventDefault();
            formStepOne.css("display", "block");
            //Hide other inputs
            formStepTwo.css("display", "none");
            formStepThree.css("display", "none");
            formStepFour.css("display", "none");
            formStepFive.css("display", "none");
        })

        $(".trigger-form-3").on("click", (e) => {
            e.preventDefault();
            formStepThree.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepTwo.css("display", "none");
            formStepFour.css("display", "none");
            formStepFive.css("display", "none");

        });

        $(".back-to-form-2").on("click", (e) => {
            e.preventDefault();
            formStepTwo.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepThree.css("display", "none");
            formStepFour.css("display", "none");
            formStepFive.css("display", "none");
        })

        $(".trigger-form-4").on("click", (e) => {
            e.preventDefault();
            formStepFour.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepTwo.css("display", "none");
            formStepThree.css("display", "none");
            formStepFive.css("display", "none");

        });

        $(".back-to-form-3").on("click", (e) => {
            e.preventDefault();
            formStepThree.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepTwo.css("display", "none");
            formStepFour.css("display", "none");
            formStepFive.css("display", "none");
        })

        $(".trigger-form-5").on("click", (e) => {
            e.preventDefault();
            formStepFive.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepTwo.css("display", "none");
            formStepThree.css("display", "none");
            formStepFour.css("display", "none");

        });

        $(".back-to-form-4").on("click", (e) => {
            e.preventDefault();
            formStepFour.css("display", "block");
            //Hide other inputs
            formStepOne.css("display", "none");
            formStepTwo.css("display", "none");
            formStepThree.css("display", "none");
            formStepFive.css("display", "none");
        })
    </script>
}


