﻿@model PresentationLayer.Areas.Admin.ViewModels.EditOriginDetailsViewModel
@{
    ViewBag.Title = "EditOriginData";
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 box-shadow" style="margin-top:30px;margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
        <h3 class="text-center text-info">Edit Origin details For: Chukwuma Ezeh</h3>
        <div class="col-xs-12" style="background:#fff;padding:10px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           <select name="State" class="form-control">
                               <option>-- Select State --</option>
                               <option value="1">Abia</option>
                               <option value="2">Adamawa</option>
                           </select>
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lga, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Lga, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Lga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.HomeTown, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HomeTown, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.HomeTown, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PermanentHomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PermanentHomeAddress, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.PermanentHomeAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>              

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Edit" class="btn btn-info btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12" style="padding-top:15px;">
            <div class="col-xs-12 col-sm-6">
                <a href="@Url.Action("Index", "Pensioner")" class="btn btn-warning">Go Back</a>
            </div>
        </div>
    </div>
</div>

