﻿@model PresentationLayer.Areas.Admin.ViewModels.EditBankDetailsViewModel
@{
    ViewBag.Title = "EditBankData";
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 box-shadow" style="margin-top:30px;margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
        <h3 class="text-center text-info">Edit Bank details For: Chukwuma Ezeh</h3>
        <div class="col-xs-12" style="background:#fff;padding:10px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Bank" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Mr</option>
                                <option value="2">Mrs</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BankBranch, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankBranch, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.BankBranch, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GrossPension, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GrossPension, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.GrossPension, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Deductible, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Deductible, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Deductible, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Edit" class="btn btn-info btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12" style="padding-top:15px;">
            <div class="col-xs-12 col-sm-6">
                <a href="@Url.Action("Index", "Pensioner")" class="btn btn-warning">Go Back</a>
            </div>
        </div>
    </div>
</div>

