﻿@model PresentationLayer.Areas.Admin.ViewModels.EditNextOfKinDetailsViewModel
@{
    ViewBag.Title = "EditNextOfKinData";
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 box-shadow" style="margin-top:30px;margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
        <h3 class="text-center text-info">Edit Next Of Kin details For: Chukwuma Ezeh</h3>
        <div class="col-xs-12" style="background:#fff;padding:10px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" />
                            @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })

                            <input type="hidden" value="" name="PensionerId"/>
                            <input type="hidden" value="" name="NOkId"/>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Gender" class="form-control">
                                <option>-- Select --</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Gender" class="form-control">
                                <option>-- Select Gender --</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="Relationship" class="form-control">
                                <option>-- Select Relationship --</option>
                                <option value="1">Son</option>
                                <option value="2">Mother</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PermenentHouseAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PermenentHouseAddress, new { htmlAttributes = new { @class = "form-control text-lowercase" } })
                            @Html.ValidationMessageFor(model => model.PermenentHouseAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Edit" class="btn btn-info btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12" style="padding-top:15px;">
            <div class="col-xs-12 col-sm-6">
                <a href="@Url.Action("Index", "Pensioner")" class="btn btn-warning">Go Back</a>
            </div>
        </div>
    </div>
</div>

