﻿
@{
    ViewBag.Title = "EmploymentData";
}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 box-shadow" style="margin-top:30px;margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
        <h3 class="text-center text-info">Employment details For: Chukwuma Ezeh</h3>
        <div class="col-xs-12" style="background:#fff;padding:10px;">
            <ul>
                <li style="font-size: 16px; padding: 20px 10px;"><span class="text-info">FIRST APPOINTMENT: </span> 0918393030</li>
                <li style="font-size: 16px;padding: 20px 10px;"><span class="text-info">LAST APPOINTMENT: </span> 12/09/1009</li>
                <li style="font-size: 16px;padding: 20px 10px;"><span class="text-info">LAST POST: </span> Head Master</li>
                <li style="font-size: 16px;padding: 20px 10px;"><span class="text-info">SERVICE LEVEL(AT RETIREMENT): </span> 0918393030</li>
                <li style="font-size: 16px;padding: 20px 10px;"><span class="text-info">REASON FOR RETIREMENT: </span> 0918393030</li>
                <li style="font-size: 16px;padding: 20px 10px;"><span class="text-info">LENGTH OF SERVICE: </span> 0918393030</li>
            </ul>
        </div>
        <div class="col-xs-12" style="padding-top:15px;">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="@Url.Action("Index", "Pensioner")" class="btn btn-warning">Go Back</a>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <a href="" class="btn btn-info">PRINT</a>
                </div>
            </div>
        </div>
    </div>
</div>



