﻿@model IEnumerable<PresentationLayer.Areas.Admin.ViewModels.ViewPensionersViewModel>

<h2 class="text-center">All Registered Pensioners</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Generate Voucher
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">THIS MONTH</a></li>
                <li><a href="#">SELECT MONTH</a></li>
            </ul>
        </div>
    </div>
    <hr />

    <div class="col-xs-12 col-md-10 col-md-offset-1 box-shadow" style="margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
        <table class="table-striped table-responsive" style="width: 100%;background:#fff;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Grade At Retirement</th>
                    <th>Next Of Kin</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr style="padding:10px !important">
                    <td>1</td>
                    <td class="text-capitalize">Chukwuma Ogbodo</td>
                    <td>Level 4</td>
                    <td>Joshua Igwe</td>
                    <td>
                        <div class="dropdown">
                            <a href="" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                View Details
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("PersonalData", "Pensioner")">PERSONAL DATA</a></li>
                                <li><a href="@Url.Action("OriginData", "Pensioner")">ORIGIN DATA</a></li>
                                <li><a href="@Url.Action("EmploymentData", "Pensioner")">EMPLOYMENT DATA</a></li>
                                <li><a href="@Url.Action("BankData", "Pensioner")">BANK DATA</a></li>
                                <li><a href="@Url.Action("NextOfKinData", "Pensioner")">NEXT OF KIN DATA</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("AllDetails", "Pensioner")">ALL DETAILS</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Edit Details
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("EditPersonalData", "Pensioner")">PERSONAL DATA</a></li>
                                <li><a href="@Url.Action("EditOriginData", "Pensioner")">ORIGIN DATA</a></li>
                                <li><a href="@Url.Action("EditEmploymentData", "Pensioner")">EMPLOYMENT DATA</a></li>
                                <li><a href="@Url.Action("EditBankData", "Pensioner")">BANK DATA</a></li>
                                <li><a href="@Url.Action("EditNextOfKinData", "Pensioner")">NEXT OF KIN DATA</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 text-center">
            <ul class="pagination center">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>

    <hr />
    <div class="col-xs-12">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                    Export Data
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">TO EXCEL</a></li>
                    <li><a href="#">PRINT</a></li>
                </ul>
            </div>
        </div>
</div>

