﻿
@{
    ViewBag.Title = "UnpaidMonths";
}

<h2 class="text-center">Unpaid Months</h2>
<div class="row">
    <div class="col-xs-12 text-center">
        <div class="dropdown">
            <a href="" class="btn btn-primary dropdown-toggle">
                Generate Voucher For All Months
            </a>
        </div>
    </div>
    <hr />

    <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-8 col-md-offset-2 box-shadow" style="margin-bottom: 20px;background:whitesmoke;padding: 20px 10px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;">
            <table class="table-striped table-responsive" style="width: 100%;background:#fff;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Payment Made On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="padding:10px !important">
                        <td>1</td>
                        <td>January</td>
                        <td>2020</td>
                        <td>12/09/2017</td>
                        <th>
                            <button type="button" class="btn btn-info">Generate Voucher For This Month</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <hr />
        <ul class="pagination center">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>

    <hr />
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Export Data
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">TO EXCEL</a></li>
                <li><a href="#">PRINT</a></li>
            </ul>
        </div>
    </div>
</div>

