﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Manage Pensioners", "Index", "Pensioner", new { Area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="" class="dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu1">
                            Manage Pensioners
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a href="@Url.Action("Index", "Pensioner")" role="menuitem" tabindex="-1">View All</a>
                            </li>
                            <li role="presentation">
                                <a href="@Url.Action("AddPensioner", "Pensioner")" role="menuitem" tabindex="-1">Add Pensioner</a>
                            </li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Manage Pensioners", "Manage", "Pensioner", new { Area = "Admin" }, null)</li>*@
                    <li>
                        <a href="" class="dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu2">
                             Account
                            <span class="caret"></span>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a href="@Url.Action("Index", "ManageAccount")" role="menuitem" tabindex="-1">Change Credentials</a>
                                </li>
                                <li role="presentation">
                                    <a href="@Url.Action("AddNewAdmin", "ManageAccount")" role="menuitem" tabindex="-1">Add New Admin</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="" class="dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu1">
                           Payment Records
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a href="@Url.Action("Index", "PaymentRecords")" role="menuitem" tabindex="-1">Paid Months</a>
                            <li role="presentation">
                                <a href="@Url.Action("UnpaidMonths", "PaymentRecords")" role="menuitem" tabindex="-1">Unpaid Months</a>
                            </li>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Logout", "LogOff", "Account", new { Area = "Security" }, null)</li>
                    </ul>
                </div>
                  
                </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>